*::before,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-primary-100: hsl(216, 53%, 9%);
  --clr-primary-200: hsl(217, 28%, 15%);
  --clr-primary-300: hsl(218, 28%, 13%);
  --clr-primary-400: hsl(219, 30%, 18%);
  --clr-accent-100: hsl(176, 68%, 64%);
  --clr-accent-200: hsl(198, 60%, 50%);
  --clr-neutral: hsl(0, 0%, 100%);
  --ff-heading: "Raleway", sans-serif;
  --ff-body: "Open Sans", sans-serif;
}

/*  ||  Base Styles ======================================================*/

body {
  color: var(--clr-neutral);
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-neutral);
}

li {
  list-style: none;
}

/*  ||  Typography  ==========================================================*/
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

/* || Utilities ============================================================*/
.container {
  padding-inline: 2rem;
}

.btn {
  color: var(--clr-neutral);
  padding: 1rem 1.5rem;
  width: 250px;
  font-size: 0.6875rem;
  display: inline-block;
  border-radius: 30px;
  border: none;
  background: linear-gradient(
    to right,
    var(--clr-accent-100),
    var(--clr-accent-200)
  );
}

.cta {
  color: var(--clr-accent-100);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}

.cta::after {
  content: "";
  width: 10em;
  height: 1px;
  background-color: var(--clr-accent-100);
  position: absolute;
  bottom: -0.125rem;
}

section {
  padding-block: 2rem;
}

/* || Navigation  ============================================================*/
.navbar {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-block: 2em;
}

.logo {
  width: 100px;
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 2em;
}

.nav-link {
  font-size: 10px;
}

/*  || General Styles  =======================================================*/
header {
  background-color: var(--clr-primary-200);
  background-image: url("./images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

main {
  background-color: var(--clr-primary-300);
}

.intro {
  text-align: center;
}

.intro p {
  font-size: 14.5px;
}

.feature-card {
  padding-block: 2rem;
  text-align: center;
}

.feature-card img {
  margin-block: 2rem;
}

.feature-card p {
  font-size: 14px;
}

.stay-productive p {
  font-size: 13.5px;
}

.testimonial {
  background-image: url("./images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: 10%;
  margin: 5rem 1rem;
}

.testimonial-card {
  background-color: var(--clr-primary-400);
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}

.testimonial p {
  /* font-size: 0.6875rem; */
  font-size: 10.75px;
}

.user-info {
  display: flex;
  place-items: center;
  margin-top: 1rem;
}

.user-info p {
  margin: 0;
}

.name {
  font-weight: 700;
}

.testimonial-image {
  border-radius: 50%;
  margin-right: 1rem;
  width: 50px;
}

.sign-up {
  background-color: var(--clr-primary-200);
  text-align: center;
  padding: 3rem 1.5rem;
  position: relative;
  margin-bottom: -10rem;
}

.sign-up p {
  font-size: 13px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

input {
  padding: 1rem 2rem;
  font-size: 0.6875rem;
  display: inline-block;
  width: 100%;
  border: 0;
  border-radius: 30px;
  flex-grow: 1;
}

.form .btn {
  width: 100%;
}

footer {
  background-color: var(--clr-primary-100);
  padding-block: 15rem 2rem;
}

.footer-logo {
  margin-bottom: 2rem;
}

.footer ul {
  margin-bottom: 2rem;
}

.footer ul li {
  margin-bottom: 1rem;
}

.contact {
  margin-bottom: 3rem;
}

.links {
  margin-bottom: 3rem;
}

/* .location::before {
  content: url("./images/icon-location.svg");
  width: 100%;
  height: 100%;
  margin-right: 1rem;
} */

/* .phone::before {
  content: url("./images/icon-phone.svg");
  width: 100%;
  height: 100%;
  margin-right: 1rem;
} */

/* .email::before {
  content: url("./images/icon-email.svg");
  width: 100%;
  height: 100%;
  margin-right: 1rem;
} */

.location,
.phone,
.email {
  display: flex;
  gap: 1rem;
}

.icon img {
  width: 100%;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-inline: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-neutral);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* Media Queries =============================================================*/
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 1110px;
    margin-inline: auto;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    /* font-size: 2.85rem; */
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .intro p {
    /* font-size: 1.25rem; */
    font-size: 20px;
    width: 60%;
    margin-inline: auto;
  }

  header {
    background-image: url("./images/bg-curvy-desktop.svg");
  }

  .feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

  .feature-card {
    width: 60%;
    margin-inline: auto;
  }

  .feature-card p {
    /* font-size: 0.75rem; */
    font-size: 12px;
  }

  .stay-productive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* justify-content: center; */
    gap: 4rem;
  }

  .stay-productive p {
    font-size: 14px;
  }

  .testimonial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    /* align-items: center; */
    /* justify-content: center; */
    background-size: auto;
  }

  .testimonial p {
    font-size: 0.875rem;
  }

  .testimonial-image {
    width: 35px;
  }

  .sign-up {
    width: 80%;
    padding: 4rem;
    margin-inline: auto;
  }

  .sign-up p {
    font-size: 16px;
  }

  .form {
    flex-direction: row;
  }

  .form .btn {
    width: 40%;
  }

  .footer {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .contact {
    display: flex;
    justify-content: left;
    gap: 4rem;
    width: 60%;
  }

  .location {
    width: 50%;
  }

  .links {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  .socials {
    margin-left: auto;
  }
}
